<!doctype html>

{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inicio</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6Z72Y378E7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-6Z72Y378E7');
    </script>

    {% load static %}
    <link href="{% static 'bootstrap.min.css' %}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'cryptochart/cryptochart.css' %}">

    <script>
      function fillModal() {
        document.getElementById("nombre").value = "{{client.username}}";
        document.getElementById("cartera").value = "{{cartera.cartera}}" + "€";
        document.getElementById("bitcoin").value = "{{cartera.bitcoin}}";
        document.getElementById("binance").value = "{{cartera.binance}}";
        document.getElementById("ethereum").value = "{{cartera.ethereum}}";
        //document.getElementById("total").value = user.eur + user.binance * {{prices.binance}} + user.ethereum * {{prices.ethereum}} + user.bitcoin * {{prices.bitcoin}} + "€";
      }
    </script>
  </head>
  <body style="background-color: rgb(22, 22, 22);">
    <!--Header-->
    <div style="background-color: black;" class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" style="color: green; font-size: xx-large;" class="nav-link px-2 link-dark">Inicio</a></li>
        <li><a href="/noticias/" style="color: white; font-size: xx-large;" class="nav-link px-2 link-dark">Noticias</a></li>
        <li><a href="/simulador/" style="color: white; font-size: xx-large;" class="nav-link px-2 link-dark">Simulador</a></li>
      </ul>

      {% if not logged %}
        <a href="/accounts/login/">
          <button type="button" class="btn btn-outline-light me-2">Login</button>
        </a>

        <a href="/accounts/register/">
          <button type="button" class="btn btn-warning" >Sign-up</button>
        </a>
      {% else %}
        <button type="button" onclick="document.getElementById('modal').style.display='block'; fillModal()" class="btn">
          <img style="background-color: white;" src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png" alt="mdo" width="50" height="50" class="rounded-circle">
        </button>
      {% endif %}
    </div>

    <div class="modal" id="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: rgb(41, 37, 37); color: rgb(71, 255, 71);">
          <div class="modal-header">
            <h5 class="modal-title">Perfil</h5>
            <button type="button" onclick="document.getElementById('modal').style.display='none'" class="btn close" style="color: red;" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <p>Nombre de usuario:</p>
              <input type="text" id="nombre" style="border-color: white; background-color: rgb(41, 37, 37); color: white;" name="nombre"><br><br>
              <p>Cartera:</p>
              <input type="text" style="border-color: white; background-color: rgb(41, 37, 37); color: white;" class="col-md-4" id="cartera" name="cartera"><br><br>
              <p>CriptoMonedas:</p>
              <label for="fname">Bitcoin:</label>
              <input type="text" id="bitcoin" name="bitcoin" style="border-color: white; background-color: rgb(41, 37, 37); color: white;"><br><br>
              <label for="fname">Binance coin:</label>
              <input type="text" id="binance" name="binance" style="border-color: white; background-color: rgb(41, 37, 37); color: white;"><br><br>
              <label for="fname">Ethereum:</label>
              <input type="text" id="ethereum" name="ethereum" style="border-color: white; background-color: rgb(41, 37, 37); color: white;"><br><br>
              <!--<br><br>
              <label for="fname">Balance total:</label>
              <input type="text" id="total" style="border-color: white; background-color: rgb(41, 37, 37); color: white;">-->
            </form>
          </div>
          <div class="modal-footer">
            <a href="/accounts/logout/"><button class="btn btn-outline-light me-2" style="color: red; border-color: red;">Logout</button></a>
          </div>
        </div>
      </div>
    </div>

    <div class="row g-5">
        <div class="col-md-2">
            <h3 style="color: rgb(71, 255, 71);">Precios:</h3>
            <div class="bd-example">
                <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col" style="color: white;">Criptomoneda</th>
                                <th scope="col" style="color: white;">Precio(EUR)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row" style="color: grey;">Bitcoin</th>
                                <th scope="row" style="color: grey;">{{prices.bitcoin}}</th>
                            </tr>
                            <tr>
                                <th scope="row" style="color: grey;">Binance Coin</th>
                                <th scope="row" style="color: grey;">{{prices.binance}}</th>
                            </tr>
                            <tr>
                                <th scope="row" style="color: grey;">Ethereum</th>
                                <th scope="row" style="color: grey;">{{prices.ethereum}}</th>
                            </tr>
                        </tbody>
                </table>
            </div>
        </div>
        <div class="col-12 col-md-6 pt-2">
          <div id="charts-display"></div>
        </div>
        <div class="col-md-4">
          <h3 style="color: rgb(71, 255, 71);">Tweets:</h3>
          <div class="bd-example">
            <table class="table table-striped">
              <tbody id="tweets">
                  {% for image,name,text,url in tweets %}
                    <tr>
                      <th scope="row" style="color: white;"><img src="{{image}}"></th>
                      <th scope="row" style="color: white;"><a href="{{url}}" target="_blank" class="nav-link px-2 link-white">{{name}}</a></th>
                      <th scope="row" style="color: white;">{{text}}</th>
                    </tr>
                  {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
    </div>

  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/6.7.0/d3.min.js" integrity="sha512-cd6CHE+XWDQ33ElJqsi0MdNte3S+bQY819f7p3NUHgwQQLXSKjE4cPZTeGNI+vaxZynk1wVU3hoHmow3m089wA==" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'cryptochart/cryptochart.js' %}"></script>
  <script>
      const chart = new CryptoChart('#charts-display', ['BTC', 'ETH']);
  </script>
</html>
